.banner {
  display: flex;
  justify-content: center;
  position: relative;
  height: 656px;
}

.banner > .container {
  align-items: center;
}
.banner__left {
  height: 316px;
  flex: 1;
}
.banner__left > h1 {
  font-weight: 300;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2d314d;
  margin-bottom: 24px;
}
.banner__left > h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597a5;
  margin-bottom: 36px;
  width: 75%;
}
.banner__right {
  height: 100%;
  flex: 1;
  position: relative;
}
.banner__right::after {
  content: "";
  position: absolute;
  height: 126%;
  width: 139%;
  left: 79px;
  top: 0;
  background-image: url(./assets/images/image-mockups.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 50;
}
.banner__right::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 220%;
  background-image: url(./assets/images/bg-intro-desktop.svg);
  background-position: bottom;
  background-size: cover;
}

@media only screen and (max-width: 375px) {
  .banner {
    height: fit-content;
    padding-bottom: 88px;
  }
  .banner > .container {
    flex-direction: column-reverse;
  }
  .banner__left > h1 {
    font-size: 40px;
    line-height: 47px;
  }
  .banner__left {
    width: 327px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner__right {
    width: 375px;
    height: 279px;
    margin-bottom: 375px;
  }
  .banner__right::after {
    height: 331px;
    width: 366px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-position: center bottom;
  }
  .banner__right::before {
    width: 375px;
    height: 398px;
    right: 0;
    background-image: url(./assets/images/bg-intro-mobile.svg);
    background-position: center bottom;
    background-size: cover;
  }
}
