.button {
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border-radius: 22px;
  width: 163px;
  height: 44px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}
.button:hover {
  opacity: 0.7;
}
.button:focus {
  outline: none;
}
.button > p {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: white;
}
