.card {
  margin: 15px;
}
.card > img {
  margin-bottom: 40px;
}
.card > h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: #2d314d;
  margin-bottom: 26px;
}
.card > p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #9597a5;
}
@media only screen and (max-width: 375px) {
  .card {
    margin: 0 0 32px 0;
  }
  .card > img {
    margin-bottom: 24px;
  }
  .card > h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  .card > p {
    font-size: 15px;
    line-height: 25px;
  }
  .second__section__home__cards {
    margin-top: 56px;
  }
}
