@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Public Sans", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 100%;
}

.flex-jc-c {
  display: flex;
  justify-content: center;
}
.flex-jc-sb {
  display: flex;
  justify-content: space-between;
}
.flex-jc-c-ai-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-jc-sb-ai-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-ai-c {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
  }
}
