header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
}
header > .container {
  align-items: center;
}
.logo {
  cursor: pointer;
}

nav {
  height: 100%;
}
nav > ul {
  width: 331px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav > ul > li {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597a5;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
nav > ul > li:hover {
  color: #2d314d;
  border-bottom: 3px solid #30c88f;
}
.hamburger__menu {
  display: none;
}
@media only screen and (max-width: 375px) {
  header {
    padding: 0 24px;
    z-index: 1000;
  }
  .button__container {
    display: none;
  }
  nav {
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      180deg,
      #2d314d 0%,
      rgba(45, 49, 77, 0.0001) 100%
    );
    z-index: 500;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: visibility 1s linear, opacity 0.3s linear;
    visibility: hidden;
    opacity: 0;
  }
  nav > ul {
    position: absolute;
    left: 50%;
    top: 24px;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    flex-direction: column;
    height: 267px;
    width: 325px;
    padding: 32px;
    border-radius: 5px;
  }

  nav > ul > li {
    font-size: 18px;
    color: #2d314d;
  }
  .isOpen {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s linear, opacity 0.3s linear;
  }
  .hamburger__menu {
    display: inherit;
  }
}
